<% include ./partials/header %>        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p-5">
        	<div class="container">
        	    <div class="row d-flex justify-content-center">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" src="/img/dreams4.gif" alt="">
        				</div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row">
            		<div class="col-lg-10 offset-lg-1 mt-5">
        				<div class="welcome_text">
        					<h3 class="mb-3">About DREAMS</h3>
        					<a href="/DREAMS-Brochure-Final-2017.pdf" class="btn btn-sm btn-info mb-1">DREAMS Brochure Final 2017.pdf</a>
        					<p class="text-justify">
        					    The LET US DREAM organizational culture is rooted in the universal human values after the vision of 
        					    St. Kuriakose Elias Chavara, for the integral formation of a person and commitment to the society. 
        					    We believe humanity as one global family tied together and our excellence as a person or as a society 
        					    is interdependent. Growing in the holistic view of life would help us to surpass our compartmentalization
        					    and prompt us toward a mutual and collaborative success in life.
        					 </p>
        				</div>
        			</div>
    			</div>
        		
            	<div class="welcome_inner row mt-3">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Core Values</p>
        				    <ul class="list-group">
                              <li class="list-group-item">Faith in God</li>
                              <li class="list-group-item">Spiritual – Moral Uprightness</li>
                              <li class="list-group-item">Personal and Social Commitment</li>
                              <li class="list-group-item">Love and Support for Fellow Beings Beyond All Boundaries</li>
                              <li class="list-group-item">Being Successful by Leading Others to be Successful in Life</li>
                            </ul>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-5">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Vision</p>
        				    <p class="text-justify">
        					    Dedicated to giving a helping hand for the holistic development of the youngsters and enhance their 
        					    quality of life through supporting them to identify and advance their skills and talents to the best.
        					</p>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-3">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Mission</p>
        				    <ul class="list-group">
                              <li class="list-group-item">To assist youth in identifying and developing their hidden talents</li>
                              <li class="list-group-item">To support in exhibiting and encouraging talented performers</li>
                              <li class="list-group-item">Personal and Social Commitment</li>
                              <li class="list-group-item">To guide and lead the youth through their struggles on the path to success in life</li>
                              <li class="list-group-item">To build self-confident, ethical, humanitarian and committed citizens of his/her country</li>
                            </ul>
        			    </div>
            		</div>
            	</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
<% include ./partials/footer %>