<% include ./partials/header %>

<div class= "container" style="margin-top: 200px; margin-bottom: 100px">
    
    <div class="row">
       <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">CMS</div>
              <div class="card-body">
                <h5 class="card-title"><a href="/manageEvents" class="text-white">Events</a></h5>
                <p class="card-text">For adding an event to the list of event schedule.</p>
              </div>
            </div>       
       </div>
       
       <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">CMS</div>
              <div class="card-body">
                <h5 class="card-title"><a href="/manageVideos" class="text-white">Videos</a></h5>
                <p class="card-text">For adding a video to the media.</p>
              </div>
            </div>       
       </div>
    </div>
    
    <div class="row">
       <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">CMS</div>
              <div class="card-body">
                <h5 class="card-title"><a href="/managePress" class="text-white">Press Images</a></h5>
                <p class="card-text">For adding a press image to the media.</p>
              </div>
            </div>       
       </div>
       
       <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">CMS</div>
              <div class="card-body">
                <h5 class="card-title"><a href="/manageRegisteredParticipants" class="text-white">Registered participants</a></h5>
                <p class="card-text">To view a detailed list of registered participants.</p>
              </div>
            </div>       
       </div>
    </div>
    
</div>

<% include ./partials/footer %>