<% include ./partials/header %>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dreams Band</li>
          </ol>
        </nav>
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p-5">
        	<div class="container">
        	    <div class="row d-flex justify-content-center">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" src="/img/dreams4.gif" alt="">
        				</div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row mt-5">
        			<div class="col-lg-10 offset-1 offset-md-0">
        				<div class="welcome_text">
        					<h3 class="mb-2">Empower To Succeed</h3>
        					<p class="text-justify">
        					    <strong>The DREAMS Band</strong> is a Christian motivational youth band based on Christian values, to lead the 
        					    participants toward their holistic development and success. The band is named after
        					    DREAMS(Desire-Readiness-Empowerment -Action-Mastery toward Success), a success model that directs
        					    youth toward their  spiritual, social, intellectual and life success.
        					 </p>
        				</div>
        			</div>
        		</div>
        		
        		<div class="row d-flex justify-content-center">
        		    <div class="col-md-4 offset-2 offset-md-0">
        				<div class="welcome_img pl-2">
        					<img class="img-fluid" src="/img/sing.jpg" alt="">
        				</div>
        			</div>
        			
        			<div class="col-md-4 offset-2">
        			    <div class="welcome_img pl-2">
        					<img class="img-fluid" src="/img/dreamsband.jpg" alt="">
        				</div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row mt-5">
        		    <div class="col-lg-10 offset-1">
        				<div class="welcome_text mt-3">
        					<p class="text-justify">
        					    Our musicians challenge the audience to identify and develop their innate talents.
        					    This is one of the programs of Let Us Dream International.
                            </p>
                            <p class="text-justify">
                                <strong>DREAMS Kids for Kids’ Dreams: </strong>Kids for Kids is the extended community service project of the
                                band. The band members are collectively involved in helping those that are less fortunate. 
                                The band also makes use of their concert money to help less fortunate kids around us.
                            </p>
                            <p class="text-justify">
                                <strong>Note: Only DREAMS members will be accepted in the be in DREAMS band.</strong>
        					</p>
                        </div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row mt-5">
        		    <div class="col-lg-10 offset-1">
        				<div class="welcome_text">
        					<p class="h4 mb-2">Goals</p>
        					<p class="text-justify">
        					    The goal of the band is the holistic development of children by focusing on their musical and
        					    leadership skills development and to form a group of socially responsible, mature and 
        					    successful teens.
        				    </p>
        				</div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row mt-5">
            	    <div class="col-lg-10 offset-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Objective</p>
        				    <ul class="list-group">
                              <li class="list-group-item">Identify their talents and help develop their potential to the fullest</li>
                              <li class="list-group-item">Provide opportunities to develop their self-confidence</li>
                              <li class="list-group-item">Help learn interpersonal skills and leadership qualities</li>
                              <li class="list-group-item">Instill social and life values for better performance in school and in life</li>
                              <li class="list-group-item">Build social commitment by helping those that are less fortunate</li>
                            </ul>
        			    </div>
            		</div>
            	</div>
            	
            	<div class="welcome_inner row mt-5">
        		    <div class="col-lg-10 offset-1">
        				<div class="welcome_text mt-3">
        				    <p class="mb-2 h4">Programs</p>
        					<p class="text-justify mb-1">
        					    The band is available for:
                            </p>
                            <ul type="square">
                                    <li>Half-day Musical-Spiritual Retreat</li>
                                    <li>1–2 Hours Concert</li>
                            </ul>
                        </div>
        			</div>
        		</div>
        		
        		<div class="welcome_inner row mt-5">
        		    <div class="col-lg-5 offset-1">
        		        <div class="welcome_img d-flex justify-content-center">
            				<img class="img-fluid" src="/img/dreamband.jpg" alt="">
            			</div>
            		</div>
            		<div class="col-lg-5 offset-1 offset-md-0 mt-2 text-center text-md-left">
            			<p class="h5">We Sing</p>
                        <p>
                            We sing the songs of love<br>
                            To care and empower<br>
                            We sing the songs of life<br>
                            To dream and fly to the best<br>
                            We sing the songs of ties<br>
                            To live and work together<br>
                            We sing the songs of times<br>
                            To have a meaning in life<br>
    					</p>
        		    </div> 
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
<% include ./partials/footer %>