<% include ./partials/header %>        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dreams Programme</li>
          </ol>
        </nav>
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p-5">
        	<div class="container">
        	    <div class="row d-flex justify-content-center">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" src="/img/dreams4.gif" alt="">
        				</div>
        			</div>
        		</div>
        		
        		<div class="col-lg-10 offset-lg-1 mt-5">
    				<div class="welcome_text">
    					<h3 class="mb-3">About DREAMS</h3>
    					<a href="/DREAMS-Brochure-Final-2017.pdf" class="btn btn-sm btn-info mb-1">DREAMS Brochure Final 2017.pdf</a>
    					<p class="text-justify">
    					    <strong>DREAMS© (<span class="text-danger">D</span>esire – <span class="text-danger">R</span>eadiness – <span class="text-danger">E</span>mpowerment – <span class="text-danger">A</span>ction – 
    					    <span class="text-danger">M</span>astery for <span class="text-danger">S</span>uccess)</strong> is designed to lead a teenager toward academic 
    					    success, professional flourishment and ultimately toward success in his or her life. Each step 
    					    in this model is sequential and progressive toward the ‘S’ which stands for Success. The program 
    					    was originally designed and implemented in diverse ways in India by Dr. Fr. Lijo Thomas CMI. The 
    					    program has been implemented for better holistic development of the low performing/at risk middle
    					    school students in Monroe, Louisiana, USA since 2012.
    					 </p>
    				</div>
        		</div>
            	<div class="row d-flex justify-content-end">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" title="Dream model" src="/img/DREAMS-orginal-wheel-by-JKK2-830x635.png" alt="">
        				</div>
        			</div>
        		</div>
        		<div class="welcome_inner row">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="text-justify">
        					    The first step in this model tries to create a <strong>Desire</strong> from a fascination, this fascination 
        					    then becomes a dream for life in each individual participant. Desire is the basic factor 
        					    that leads to our performance. Therefore creating a powerful desire and attraction towards 
        					    a goal in a student is an important factor for better performance. The second stage,
        					    <Strong>Readiness</Strong>, is the internalization or the realization part of fascination, where a student 
        					    starts to think about the means and ways to move towards his/her dream. Once the goals 
        					    are realistically set, a student needs to prepare and <strong>Empower</strong> himself or herself for 
        					    reaching the goal. This empowerment comes basically from three realms: a) Intellectual: 
        					    academic, work skills; b) social: moral, physical; c) psychological and emotional. Once 
        					    the participant feels he/she is empowered, the next ring on the ladder of success is 
        					    <strong>Action</strong>. According to Lance Armstrong, “the last one percent most people keep in reserve 
        					    is the extra percent, the champions have the courage to burn”. This extra percent or the 
        					    winning edge is <strong>Mastery</strong> which is the last step in the process towards <strong>Success</strong>.
                            </p>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-3">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Goals</p>
        				    <p class="text-justify">
        					    The Goal of the DREAMS program is the holistic development of children through a clear 
        					    and realistic goals in life. Focus will be on the physical, psychological, emotional, 
        					    social, spiritual, and leadership aspects of each student and forming a group of socially 
        					    responsible, mature, and successful teenagers in three years.
        					 </p>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-3">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Objective</p>
        				    <ul class="list-group">
                              <li class="list-group-item">To help teenagers learn and practice psychosocial and interpersonal 
                                                          skills through a supportive community of peers, senior mentors, and trainers</li>
                              <li class="list-group-item">To help teenagers in setting their life, academic, and professional goals</li>
                              <li class="list-group-item">To identify one’s own talents and weaknesses in order to develop their potential to the fullest</li>
                              <li class="list-group-item">To make new friends, build meaningful relationships, and participate in life-changing events</li>
                              <li class="list-group-item">To teach responsibility and instil leadership qualities in participants</li>
                              <li class="list-group-item">Instil life values for better character and academic performance in order to achieve future life achievements.</li>
                              <li class="list-group-item">To divert the attention of teenagers from bad influences</li>
                              <li class="list-group-item">To create better citizens for the country/community</li>
                            </ul>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-5">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Implementation</p>
        				    <p class="text-justify">
        					    The DREAMS© intervention model is basically implemented through a five day summer 
        					    life-orientation program for 30 lower-performing/at risk middle/high school students for 
        					    three consecutive years. This includes life skill trainings, motivational sessions with 
        					    activities, games, community services, concerts, workshops that address a wide variety of 
        					    topics, and interactions with successful persons who persevered through hardships in his or 
        					    her childhood. The participants will be mentored by the members of the Dream Team and 
        					    evaluated for academic, social, psychological, and moral development throughout the years, 
        					    especially during each summer program. This continuous assessment will be done through 
        					    observations, surveys, and interviews. The reports will be documented in each student’s 
        					    personal documents. During the summer program, each individual student will be given proper 
        					    feedback based on the evaluation and journal reports.The DREAMS© summer program can greatly
        					    influence students since it is operated through a separate outside entity that connects 
        					    schools and families. The program is not implemented as a yearly summer program rather it
        					    is a year round program with its follow up programs, including DREAMS Club meetings at each 
        					    school, mentor’s consistent supports and letter of updates. Since the program is basically 
        					    striving to instil intrinsic motivational dynamics and social life values, there is a strong
        					    need for recharging them with motivational activities. The program is also intertwined with 
        					    many other developmental programs. The adult team members will scrupulously observe and 
        					    interview their assigned participants and find their strengths, talents and weaknesses and 
        					    help develop those skills. Based on their interests, participants will be directed and 
        					    encouraged to attend the weekly musical training (DREAMS Band).The three years themes of 
        					    the program focus on the three dimensional realms of our lives such as:  <strong><em>Self, Society and 
        					    Leadership.</em></strong>
        					</p>
                            <blockquote class"blockquote">
                                <p class="mb=0 text-justify pl-5">
                                    <strong>On self:</strong><span class="pr-4"></span>Self-concept, self-worth, attitude, confidence, creativity, time, talents, goal setting etc.
                                <br><strong>Society:</strong><span class="pr-4"></span>Includes social aspects, i.e., family relationships, social commitment, moral – ethical values, etc.
                                <br><strong>Leadership:</strong>Problem solving, decision making, communication, time management, etc.
                                </p>
                            </blockquote>
                            <p class="text-justify">
                                Each five-student cohort will have an adult mentor who will keep in constant contact with 
                                the participants’ parents and school. Participants of the program will return the following
                                years as youth leaders to incoming participants once they finish their third year. After 
                                full implementation (year 1-3), the project will serve around 100 students (30 participants 
                                average in each group) at one time.
        					</p>
        			    </div>
            		</div>
            	</div>
            	<div class="welcome_inner row mt-3">
            	    <div class="col-lg-10 offset-lg-1">
        				<div class="welcome_text">
        				    <p class="mb-2 h4">Research Findings</p>
        				    <p class="text-justify">
        				        A pilot study of this program was conducted in 2012 by Fr. Lijo Thomas at the University of 
        				        Louisiana, Monroe on 20 participants and found significant positive changes in the 
        				        participants’ self-esteem, self-worth, motivation, and positive behaviours after attending 
        				        the five day summer camp. The study was presented in an International Value Leadership 
        				        Conference on October 1, 2012 in Brisbane, Australia.He also did his doctoral research on
        				        the same project in 2013 at the University of Louisiana, Monroe on 32 middle school at risk
        				        students by using a mixed method. The longitudinal data were collected five different times 
        				        throughout the year. Both qualitative and quantitative analysis reports showed that there 
        				        were some significant improvements in the <em>Self-Esteem, Self-Mastery, Motivation and Locus 
        				        of Control, Life Orientation and Engagement, Academic Achievements, Personal and 
        				        Interpersonal Behaviour</em> of those who participated in the DREAMS program. The statistical
        				        analysis report identified that there were more significant positive changes in African
        				        American participants than others.New research is in the progress to assess the impact of 
        				        this model in the Special Ed. Students at the Louisiana Tech University, Ruston, USA.
        				    </p>
        			    </div>
            		</div>
            	</div>
            	
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
<% include ./partials/footer %>