<% include ./partials/header %>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dreams Pro</li>
          </ol>
        </nav>
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p-5">
        	<div class="container">
        	    <div class="row d-flex justify-content-center">
        			<div class="col-lg-8">
        				<div class="welcome_img">
        					<img class="img-fluid" src="/img/dreamspro_1-830x156.png" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        	
        	<div class="welcome_inner row mt-3">
        	    <div class="col-lg-10 offset-lg-1">
    				<div class="welcome_text">
    				    <h3 class="mb-2">Life Skills Development Clubs</h3>
    				    <ul class="list-group">
    				        <li class="list-group-item">Interpersonal skills</li>
                            <li class="list-group-item">Leadership skills</li>
                            <li class="list-group-item">Communication skills</li>
                            <li class="list-group-item">Fine arts skills</li>
                            <li class="list-group-item">Problem solving</li>
                            <li class="list-group-item">Public Speaking</li>
                        </ul>
    			    </div>
        		</div>
        	</div>
        </section>
        	
<% include ./partials/footer %>