<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/img/favicon.png" type="image/png">
        <title>LET US DREAM | Landing</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/responsive.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    
    <div id="landing-header">
 		<div class="container">
			<div class="banner_content">
				<h1>Let Us Dream</h1>
				<p>FOR THE COMMUNITY BY THE COMMUNITY</p>
				<a class="banner_btn" href="/index">Click Here To Embark Your Journey With Us</a>
			</div>
		</div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

   </body>
</html>