<% include ./partials/header %>       

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dreams Programme</li>
          </ol>
        </nav>
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p-5">
        	<div class="container">
        	    <div class="welcome_inner row">
            	    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center">
            				<div class="welcome_text">
            				    <p class="text-justify">
            					    The Let Us Dream is an umbrella organization comprised of different groups of people with diverse talents and capacities working together 
            					    for a common goal of building better tomorrow by sharing their success values and strategies to the younger generation, tomorrow’s future. 
            					    This platform invites the likeminded people from all diversities of the world to support and guide youngsters in their process of holistic 
            					    developmental growth. The organization established to provide teenagers various opportunities to identify their unique talents and to develop 
            					    their potential to the fullest, to achieve a value–guided personality for sustainable success in their personal and social lives.
            			        </p>
            			    </div>
            		</div>
            	</div>
        		<div class="row d-flex justify-content-center">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" src="img/rsz_dreams.png" alt="">
        				</div>
        			</div>
        		</div>
        		<div class="row d-flex justify-content-center">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" src="img/dreamsphoto.png" alt="">
        				</div>
        			</div>
        		</div>
        		<div class="welcome_inner row">
            	    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center">
            				<div class="welcome_text">
            				    <p class="text-justify">
            					    We believe as a team in the famous quote of Mother Teresa 
            					    “<strong>What we are doing is just a drop in the ocean. But if that drop was not in the ocean, I think the ocean would be less because of that missing drop.</strong>” 
            					    Each of us has the power, responsibility, and gift to add another drop to the bucket. If we can be a positive intervention on just one life, the impact will 
            					    have far reaching affects that will change the world for the better.
            					</p>
            			    </div>
            		</div>
            	</div>
            	<div class="row d-flex justify-content-end">
        			<div class="col-lg-10">
        				<div class="welcome_img">
        					<img class="img-fluid" title="Dream model" src="img/DREAMS-orginal-wheel-by-JKK2-830x635.png" alt="">
        				</div>
        			</div>
        		</div>
        		<div class="welcome_inner row">
            	    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center">
            				<div class="welcome_text">
            				    <p class="text-justify">
            					    Let us put our Hearts–Heads–Hands together towards creating a positive difference in the lives of youth around us by inspiring and supporting them to pursue their dreams and to help them cherish universal values of life for creating a better world.
                                </p>
            			    </div>
            		</div>
            	</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
    
<% include ./partials/footer %>